[user]
	email = misha@farberbrodsky.com
	name = Misha Farber Brodsky
[core]
	editor = nvim
	excludesfile = /home/misha/.gitignore
[color]
	ui = true
[init]
	defaultBranch = main
[difftool]
	prompt = false
	trustExitCode = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[mergetool]
	trustExitCode = true
